/* Estilos para la barra de navegación */
#navbar {
    background-color: rgb(73, 22, 22); /* Fondo blanco */
    padding: 10px 20px; /* Espaciado interno */
}

#navbar .navbar-brand {
    font-size: 24px; /* Tamaño de fuente de la marca */
}

#navbar .navbar-nav .nav-link {
    background-color: #6c757d; /* Fondo de los botones */
    color: white; /* Texto blanco */
    margin: 0 5px; /* Margen entre botones */
    border-radius: 5px; /* Bordes redondeados */
}

#navbar .navbar-nav .nav-link:hover {
    background-color: #495057; /* Cambio de color al pasar el ratón */
}

/* Estilos para el pie de página */
.footer-div {
    background-color: #e3c492; /* Fondo café claro */
    color: white; /* Texto blanco */
    padding: 2.5px; /* Reducción del padding a la mitad */
    font-size: 10px; /* Reducción del tamaño de fuente a la mitad */
}

.footer-div p {
    margin: 0; /* Eliminar el margen */
}

.event-box img {

    border: 1px solid #ced4da; /* Borde */
    display: block; /* Muestra la imagen como un bloque */
    border-color: #ced4da; /* Color del borde de la imagen */
    max-width: 100%; /* Ancho máximo del contenedor */
    width: 400px; /* Ancho de la imagen */
    height: 200px; /* Altura de la imagen */ /* Altura automática para mantener la proporción */
}


.event-box {
    position: relative; /* Establece la posición relativa para que el botón se posicione correctamente */
    background-color: #ffffffd4; /* Color de fondo blanco */
    border-radius: 10px;
    padding: 10px; /* Espaciado interno */
    margin-bottom: 60px; /* Espacio entre cada evento */
}

.event-box button {
    position: absolute; /* Establece la posición absoluta para el botón */
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
    right: 10px; /* Ajusta la distancia desde la derecha */
}

.event-box h3 {
    margin-bottom: 10px; /* Espacio entre el título y la descripción */
    text-align: auto; /* Alinear texto a la izquierda */
}

/* Estilos para la lista de eventos */
.event-list {
    background-color: #ffffffd4; /* Color de fondo */
    border: 1px solid #ced4da; /* Borde */
    padding: 10px; /* Espaciado interno */
}

.event-list ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
}

.event-list ul li {
    margin-bottom: 10px; /* Espacio entre cada elemento de la lista */
    text-align: left; /* Alinear texto a la izquierda */
}

.container-fluid {
    padding: 0; /* Elimina el relleno predeterminado del contenedor */
    padding-top: 100px; /* Espaciado superior */
    padding-bottom: 100px; /* Espaciado inferior */
}
body {
    background-image: url('https://www.krion.com/uploads/tmp/paredes_de_cafeteria_selva.jpg');
    background-size: cover; /* Para ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat; /* Para evitar que la imagen se repita */
}
button {
     
    float: right ; /* Alinear el botón a la derecha */
    float: top ; /* Alinear el botón arriba */
    background-color: rgb(161, 137, 137); /* Fondo transparente */
    border: rgb(49, 20, 20); /* Sin borde */
    padding: 0; /* Sin espacio interior */
    font-size: inherit; /* Tamaño de fuente heredado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    outline: none; /* Elimina el contorno al hacer clic */
    width : 200px; /* Ancho del botón */
    height : 50px; /* Altura del botón */
    /* Agrega otros estilos personalizados según sea necesario */
}
button:hover {
    background-color: rgb(49, 20, 20); /* Cambio de color al pasar el ratón */
    color: white; /* Texto blanco */


    
}
a {
    text-decoration: none; /* Elimina la subrayado del enlace */
}

